# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/tmp/
**/out/
**/.angular/

# Environment and Secrets
.env
*.json.secret
google-credentials.json

# IDEs and Tools
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Vercel
.vercel/
